$theme-border-radius: 1.25rem;

// .theme-link {
//     transition-property: background-color;         /*div元素中要轉場的width屬性*/
//     transition-duration: 2s;            /*轉場時間為2秒*/
//     transition-timing-function: linear; /*轉場速度為均速*/
//     transition-delay: 1s;               /*延後1秒才開始轉場*/
// }
.theme-link:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: $theme-border-radius 0;
    background-color: rgba(33, 37, 41, 0.4);
}

.theme-box {
    background-color: rgba(0, 0, 0, 0.2);
    @include border-top-start-radius($radius: $theme-border-radius);
    @include border-bottom-end-radius($radius: $theme-border-radius);
    @include media-breakpoint-up(lg){
        height: 200px;
    }
}
