.bg-logo {
    width: 68px;
    height: 20px;
    @include media-breakpoint-up(lg) {
        width: 96px;
        height: 28px;
    }
}

.header, .header .navbar {
    height: 60px;
    @include media-breakpoint-up(lg) {
        height: 124px;
    }
}