body {
    overflow-x: hidden;
}

ul, ol, li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a {
    display: inline-block;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: .1em;
}
p {
    letter-spacing: .05em;
}

::-webkit-scrollbar {
    display: none;
}

// @font-face {
//     font-family: "Newsreader";
//     src: url("https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Serif+TC:wght@200..900&display=swap");
//     unicode-range: U+00-7F;
// }