// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 800

.newsreader {
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 900

.noto-serif-tc {
  font-family: "Noto Serif TC", serif;
  font-optical-sizing: auto;
}