$bg-config:(
  banner:(
    class: 'banner',
    img:     url(/assets/images/home/banner/banner-sm.png),
    img-md:  url(/assets/images/home/banner/banner.png),
  ),

//   design:(
//     class: 'design',
//     img:     url(/assets/images/home/index-bg-sm.png),
//     img-md:  url(/assets/images/home/index-bg-md.png),
//     img-lg:  url(/assets/images/home/index-bg.png),
//   ),
);