<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vivre</title>
</head>
<body>
<%- include('./layout/header'); -%>

<main>
  <div class="container-lg px-0 mt-lg-20">
    <div class="bg-banner d-flex justify-content-center align-items-end justify-content-lg-start align-items-lg-center">
      <div class="d-flex flex-column align-items-center mb-12 align-items-lg-start ms-lg-18 mb-lg-0">
        <h5 class="text-white fs-4 fw-bold mb-2 fs-lg-5 fw-lg-bolder">獻給新世代的生活風格誌</h5>
        <h1 class="text-white fs-7 mb-5 fs-lg-10">一起探索生活的無限可能</h1>
        <a href="#">
          <button type="button" class="btn btn-accent-200 btn-accent-hover d-flex align-items-center gap-3 text-white">
            <h5 class="text-white fs-h6 fs-lg-h5">馬上訂閱</h5>
            <span class="material-symbols-outlined fs-5">arrow_forward</span>
          </button>
        </a>
      </div>
    </div>
  </div>

  <div class="container my-12 my-lg-20">
    <h2 class="fs-h4 mb-6 fs-lg-h2">熱門主題</h2>
    <ul class="row row-cols-1 gy-2 row-cols-md-2 g-md-2 row-cols-lg-4 g-lg-6">
      <li class="col">
        <div class="card border-0">
          <a class="d-flex position-relative theme-link" href="#">
            <picture>
              <source media="(min-width: 992px)" srcset="/assets/images/home/theme/theme-1.png">
              <img class="img-fluid object-fit-cover theme-box" src="../assets/images/home/theme/theme-1-sm.png" alt="theme-1">
            </picture>
            <h5 class="card-img-overlay z-1 text-white fs-h6 fw-bold fs-lg-h5 fw-lg-bolder text-center align-self-center">城市漫遊者</h5>
          </a>
        </div>
      </li>
      <li class="col">
        <div class="card border-0">
          <a class="d-flex position-relative theme-link" href="#">
            <picture>
              <source media="(min-width: 992px)" srcset="/assets/images/home/theme/theme-2.png">
              <img class="img-fluid object-fit-cover theme-box" src="../assets/images/home/theme/theme-2-sm.png" alt="theme-2">
            </picture>
            <h5 class="card-img-overlay z-1 text-white fs-h6 fw-bold fs-lg-h5 fw-lg-bolder text-center align-self-center">秘境尋蹤人</h5>
          </a>
        </div>
      </li>
      <li class="col">
        <div class="card border-0">
          <a class="d-flex position-relative theme-link" href="#">
            <picture>
              <source media="(min-width: 992px)" srcset="/assets/images/home/theme/theme-3.png">
              <img class="img-fluid object-fit-cover theme-box" src="../assets/images/home/theme/theme-3-sm.png" alt="theme-3">
            </picture>
            <h5 class="card-img-overlay z-1 text-white fs-h6 fw-bold fs-lg-h5 fw-lg-bolder text-center align-self-center">品味設計家</h5>
          </a>
        </div>
      </li>
      <li class="col">
        <div class="card border-0">
          <a class="d-flex position-relative theme-link" href="#">
            <picture>
              <source media="(min-width: 992px)" srcset="/assets/images/home/theme/theme-4.png">
              <img class="img-fluid object-fit-cover theme-box" src="../assets/images/home/theme/theme-4-sm.png" alt="theme-4">
            </picture>
            <h5 class="card-img-overlay z-1 text-white fs-h6 fw-bold fs-lg-h5 fw-lg-bolder text-center align-self-center">美食探險記</h5>
          </a>
        </div>
      </li>
      <li class="col">
        <div class="card border-0">
          <a class="d-flex position-relative theme-link" href="#">
            <picture>
              <source media="(min-width: 992px)" srcset="/assets/images/home/theme/theme-5.png">
              <img class="img-fluid object-fit-cover theme-box" src="../assets/images/home/theme/theme-5-sm.png" alt="theme-5">
            </picture>
            <h5 class="card-img-overlay z-1 text-white fs-h6 fw-bold fs-lg-h5 fw-lg-bolder text-center align-self-center">美學建築誌</h5>
          </a>
        </div>
      </li>
      <li class="col">
        <div class="card border-0">
          <a class="d-flex position-relative theme-link" href="#">
            <picture>
              <source media="(min-width: 992px)" srcset="/assets/images/home/theme/theme-6.png">
              <img class="img-fluid object-fit-cover theme-box" src="../assets/images/home/theme/theme-6-sm.png" alt="theme-6">
            </picture>
            <h5 class="card-img-overlay z-1 text-white fs-h6 fw-bold fs-lg-h5 fw-lg-bolder text-center align-self-center">慢活生活行</h5>
          </a>
        </div>
      </li>
      <li class="col">
        <div class="card border-0">
          <a class="d-flex position-relative theme-link" href="#">
            <picture>
              <source media="(min-width: 992px)" srcset="/assets/images/home/theme/theme-7.png">
              <img class="img-fluid object-fit-cover theme-box" src="../assets/images/home/theme/theme-7-sm.png" alt="theme-7">
            </picture>
            <h5 class="card-img-overlay z-1 text-white fs-h6 fw-bold fs-lg-h5 fw-lg-bolder text-center align-self-center">工藝匠心賞</h5>
          </a>
        </div>
      </li>
      <li class="col">
        <div class="card border-0">
          <a class="d-flex position-relative theme-link" href="#">
            <picture>
              <source media="(min-width: 992px)" srcset="/assets/images/home/theme/theme-8.png">
              <img class="img-fluid object-fit-cover theme-box" src="../assets/images/home/theme/theme-8-sm.png" alt="theme-8">
            </picture>
            <h5 class="card-img-overlay z-1 text-white fs-h6 fw-bold fs-lg-h5 fw-lg-bolder text-center align-self-center">時尚先鋒派</h5>
          </a>
        </div>
      </li>


    </ul>
  </div>

  <div class="container my-12 my-lg-20">
    <div id="carouselCaptions" class="carousel slide d-none">
      <h2 class="fs-h4 mb-6 fs-lg-h2">精選文章</h2>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="d-flex flex-column gap-6 pb-6 border-bottom border-1 border-500">
            <picture>
              <source media="(min-width: 992px)" srcset="/assets/images/articles/articles-1.png">
              <img class="img-fluid object-fit-cover d-block" style="max-width: 324px; height: 192px;" src="../assets/images/articles/articles-1-sm.png" alt="articles-1">
            </picture>
            <h5>私人島嶼的露營奇遇記</h5>
            <p class="text-400">遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...</p>
            <a href="#" class="newsreader fw-bold"><h5>Read More</h5></a>
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-flex flex-column gap-6 pb-6 border-bottom border-1 border-500">
            <picture>
              <source media="(min-width: 992px)" srcset="/assets/images/articles/articles-2.png">
              <img class="img-fluid object-fit-cover d-block" style="max-width: 324px; height: 192px;" src="../assets/images/articles/articles-2-sm.png" alt="articles-2">
            </picture>
            <h5>私人島嶼的露營奇遇記</h5>
            <p class="text-400">遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...</p>
            <a href="#" class="newsreader fw-bold"><h5>Read More</h5></a>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <div class="carousel-indicators position-static">
          <button class="active" type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <!-- 左右滑動 -->
        <div class="d-flex align-items-center gap-5">
          <button class="d-flex carousel-prev btn btn-outline-400 border-1 py-1 px-4" type="button" data-bs-target="#carouselCaptions" data-bs-slide="prev">
            <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
             <span class="material-symbols-outlined align-middle" aria-hidden="true">arrow_left_alt</span>
            <span class="visually-hidden">Previous</span>
          </button>
          <div class="border" style="width: 80px; height: 0px;"></div>
          <button class="d-flex carousel-next btn btn-outline-400 border-1 py-1 px-4" type="button" data-bs-target="#carouselCaptions" data-bs-slide="next">
            <!-- <span class="carousel-control-next-icon"></span> -->
            <span class="material-symbols-outlined" aria-hidden="true">arrow_right_alt</span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

  </div>

<div class="container my-12 my-lg-20">
  <div class="row flex-column gap-10 flex-lg-row-reverse">
    <div class="swiper mySwiper col col-lg-8">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="d-flex flex-column gap-6 pb-6 border-bottom border-1 border-500">
            <picture>
              <source media="(min-width: 992px)" srcset="/assets/images/articles/articles-1.png">
              <img class="img-fluid object-fit-cover d-block" src="../assets/images/articles/articles-1-sm.png" alt="articles-1">
            </picture>
            <div>
              <h5 class="mb-2">私人島嶼的露營奇遇記</h5>
              <p class="text-400">遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...</p>
            </div>
            <div class="d-flex justify-content-between align-items-center" style="height: 40px;">
              <a href="#" class="newsreader fw-bold"><h5>Read More</h5></a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="d-flex flex-column gap-6 pb-6 border-bottom border-1 border-500">
            <picture>
              <source media="(min-width: 992px)" srcset="/assets/images/articles/articles-2.png">
              <img class="img-fluid object-fit-cover d-block" src="../assets/images/articles/articles-2-sm.png" alt="articles-2">
            </picture>
            <div>
              <h5 class="mb-2">窺探米其林三星主廚的絕密手藝</h5>
              <p class="text-400">在這間隱世餐廳,來一場味蕾與靈魂的盛宴。幽微燈火下,透過巨匠大師的獨門料理,領略食材中蘊藏的大自然馨香脈絡。營造只屬於你我的私密小宇宙,沉浸其中,品嘗人生至臻至美的風味...</p>
            </div>
            <div class="d-flex justify-content-between align-items-center" style="height: 40px;">
              <a href="#" class="newsreader fw-bold"><h5>Read More</h5></a>
              <a class="btn btn-primary-300 text-primary-400 py-1 px-2 rounded-2 fw-bold" href="#"><h6>會員專屬</h6></a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="d-flex flex-column gap-6 pb-6 border-bottom border-1 border-500">
            <picture>
              <source media="(min-width: 992px)" srcset="/assets/images/articles/articles-1.png">
              <img class="img-fluid object-fit-cover d-block" src="../assets/images/articles/articles-1-sm.png" alt="articles-1">
            </picture>
            <div>
              <h5 class="mb-2">私人島嶼的露營奇遇記</h5>
              <p class="text-400">遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...</p>
            </div>
            <div class="d-flex justify-content-between align-items-center" style="height: 40px;">
              <a href="#" class="newsreader fw-bold"><h5>Read More</h5></a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="d-flex flex-column gap-6 pb-6 border-bottom border-1 border-500">
            <picture>
              <source media="(min-width: 992px)" srcset="/assets/images/articles/articles-2.png">
              <img class="img-fluid object-fit-cover d-block" src="../assets/images/articles/articles-2-sm.png" alt="articles-2">
            </picture>
            <div>
              <h5 class="mb-2">窺探米其林三星主廚的絕密手藝</h5>
              <p class="text-400">在這間隱世餐廳,來一場味蕾與靈魂的盛宴。幽微燈火下,透過巨匠大師的獨門料理,領略食材中蘊藏的大自然馨香脈絡。營造只屬於你我的私密小宇宙,沉浸其中,品嘗人生至臻至美的風味...</p>
            </div>
            <div class="d-flex justify-content-between align-items-center" style="height: 40px;">
              <a href="#" class="newsreader fw-bold"><h5>Read More</h5></a>
              <a class="btn btn-primary-300 text-primary-400 py-1 px-2 rounded-2 fw-bold" href="#"><h6>會員專屬</h6></a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="d-flex flex-column gap-6 pb-6 border-bottom border-1 border-500">
            <picture>
              <source media="(min-width: 992px)" srcset="/assets/images/articles/articles-1.png">
              <img class="img-fluid object-fit-cover d-block" src="../assets/images/articles/articles-1-sm.png" alt="articles-1">
            </picture>
            <div>
              <h5 class="mb-2">私人島嶼的露營奇遇記</h5>
              <p class="text-400">遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...</p>
            </div>
            <div class="d-flex justify-content-between align-items-center" style="height: 40px;">
              <a href="#" class="newsreader fw-bold"><h5>Read More</h5></a>
            </div>
          </div>
        </div>
      </div>      
    </div>
    <div class="d-flex justify-content-between align-items-center gap-5 col flex-lg-column justify-content-lg-end gap-lg-8">
      <div class="swiper-pagination position-static newsreader"></div>
      <div class="d-flex align-items-center gap-5 align-self-lg-start">
        <div class="swiper-button-prev position-static d-flex btn btn-outline-400 border-1 py-1 px-4">
          <span class="material-symbols-outlined align-middle" aria-hidden="true">arrow_left_alt</span>
        </div>
        <div class="border border-500" style="width: 80px; height: 0px;"></div>
        <div class="swiper-button-next position-static d-flex btn btn-outline-400 border-1 py-1 px-4">
          <span class="material-symbols-outlined align-middle" aria-hidden="true">arrow_right_alt</span>
        </div>  
      </div>
    </div>
  </div>
</div>

  <div class="limitedEvent bg-primary-200 overflow-hidden">
    <div class="container py-12 py-lg-20">
      <div class="d-flex flex-column align-items-center">
        <h4 class="fs-4 fw-bold fs-lg-6 fw-lg-bolder mb-3 mb-lg-5">\ 母親節強檔活動 /</h4>
        <h2 class="mb-6 mb-lg-5">家庭訂閱方案限時 7 折</h2>
        <ul class="d-flex flex-column gap-4 mb-4 mb-lg-10">
          <li class="d-flex gap-3"><span class="material-symbols-outlined">check</span><p>每月最新文章無限閱讀</p></li>
          <li class="d-flex gap-3"><span class="material-symbols-outlined">check</span><p>專屬會員限定內容</p></li>
          <li class="d-flex gap-3"><span class="material-symbols-outlined">check</span><p>定期電子報</p></li>
          <li class="d-flex gap-3"><span class="material-symbols-outlined">check</span><p>年度精選禮物</p></li>
          <li class="d-flex gap-3"><span class="material-symbols-outlined">check</span><p>24 /7 優先客戶服務</p></li>
          <li class="d-flex gap-3"><span class="material-symbols-outlined">check</span><p>為每個成員量身打造專屬行程</p></li>
        </ul>
        <button class="btn btn-accent-200" type="button"><p class="h6 fw-bold text-white fs-lg-5">我想了解</p></button>
      </div>
    </div>
  </div>

  <div class="container my-12 my-lg-20">
    <h2 class="fs-h4 mb-6 fs-lg-h2">大家都在看</h2>
  </div>

  <div class="container my-12 my-lg-20">
    <h2 class="fs-h4 mb-6 fs-lg-h2">品味生活</h2>
  </div>

  <div class="bg-primary-200">
    <div class="container mt-12 mb-11"></div>
  </div>

  <div class="container my-12"></div>

</main>

<%- include('./layout/footer'); -%>
<script type="module" src="../main.js"></script>

<!-- Swiper JS -->
<!-- <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script> -->
<script src="/node_modules/swiper/swiper-bundle.js"></script>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 1,
    spaceBetween: 24,
    width: 348,
    loop: true,
    breakpoints: {
      992: {
        slidesPerView: 2,
        spaceBetween: 48,
        width: 856,
      }
    },
    pagination: {
      el: ".swiper-pagination",
      type: "fraction",
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>

</body>
</html>
